/*Estilos Generales*/

html *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFF;
    transition: all .3s ease;
}

body.dark{
    background-color: #272727;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
*::-webkit-scrollbar-track {
    background: whitesmoke;
    display: none;
}
  
*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}

p{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.54px;
    transition: color .3s ease;
}

body.dark p{
    color: #FFF;
}

a{
    text-decoration: none;
    transition: color .3s ease;
}

body.dark a{
    color: #FFF;
}

ul, li, a{
    list-style: none;
    font-size: 21px;
    font-style: normal;
    font-weight: 600; 
    color: black;
}

.wrap-cta{
    display: flex;
    width: 168px;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.cta-a{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    background-color: #FCD437;
    padding: 12px 24px;
    border-radius: 12px;
    border-style: none;
}

.cta-a:hover{
    background-color: #FCDB59;
}

h1{
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.8px;
}

h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 600; 
    letter-spacing: -1.2px;
    transition: color .3s ease;
}

body.dark h2{
    color: #FFF;
}

h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.96px;
    transition: color .3s ease;
}

body.dark h3{
    color: #FFF;
}

body.dark h4{
    color: #FFF;
}

section{
    padding-bottom: 164px;
}

/*Header*/

.header-landing{
    width: 100%;
    position: fixed;
    background-color: #FFF;
    z-index: 99999;
    transition: all .3s ease;
}

body.dark .header-landing{
    background-color: #272727;
}

.wrap-header{
    display: flex;
    justify-content: space-between;
    padding: 8px 160px;
}

.wrap-logo{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

.wrap-logo img:first-child{
    object-fit: cover;
    width: 91px;
    height: 75px;
    transition: all .3s ease;
}

.wrap-logo img:last-child{
    height: 75px;
    transform: translateX(-80%);
    opacity: 0;
    transition: all .3s ease;
}

body.dark .wrap-logo img:first-child{
    opacity: 0;
}

body.dark .wrap-logo img:last-child{
    opacity: 1;
}

.nav-header{
    display: flex;
    align-items: center;
    width: 100%;
}

.wrap-nav-header{
    display: flex;
    flex-basis: 30%;
}

.main-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-item{
    margin: 16px;
    display: flex;
    cursor: pointer;
}

.menu-item a:hover{
    color: #FCD437;
    transition: all .3s ease;
}

#container {
    background-color: #f8f8f8;
    position: relative;
    width: 40px;
    height: 20px;
    box-shadow: inset 4px 4px 6px #cecece,
                inset -4px -4px 6px #fff;
    border-radius: 25px;
    cursor: pointer;
    transform: translateY(100%);
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transform: scale(.7);
    background-color: #FCD437;
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff;
    transition: all .3s ease;
}

#container.active .toggle{
    left: 20px;
    background-color: #999999;
}

.toggle-menu{
    display: none;
    flex-direction: column;
    width: 30px;
    border: 0;
    background: transparent;
    gap: 7.4px;
}

.toggle-menu > div{
    background: black;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

body.dark .toggle-menu > div{
    background: #FFF;
}

.toggle-menu.active div:first-child{
    transform: rotate(45deg);
}

.toggle-menu.active div:nth-child(2){
    opacity: 0;
}

.toggle-menu.active div:last-child{
    transform: rotate(-45deg);
}

#check{
    display: none;
}

@media (max-width:959px){
    .wrap-header{
        position: fixed;
        height: 70px;
        width: 100%;
        background-color: #ffffff;
        transition: all .3s ease;
    }
    body.dark .wrap-header{
        background-color: #272727;
    }
    .wrap-logo{
        position: fixed;
        top: 1%;
        left: 3%;
    }
    .toggle-menu{
        cursor: pointer;
        display: flex;
    }
    .main-menu{
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        background-color: #ffffffcb;
        backdrop-filter: blur(2px);
        transition: all .3s ease;
    }
    body.dark .main-menu{
        background-color: #272727d0;
    }
    .menu-item{
        font-size: 21px;
    }
    #container{
        margin-left: 15px;
        width: 50px;
        height: 25px;
    }
    .toggle{
        width: 25px;
        height: 25px;
    }
    #container.active .toggle{
        left: 25px;
    }
    .checkbtn{
        position: fixed;
        right: 6%;
    }
    #check:checked ~ ul{
        display: flex;
        flex-flow: column;
        justify-content: right;
        height: 100vh;
        top: 85px;
    }
}

/*Hero*/

.hero-section{
    height: 622px;
    background-image: url(../img/exteriorchevi1oscuro.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    padding-top: 85px;
}

.wrap-hero-section{
    color: #FFF;
    width: 500px;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 24px;
}

@media (min-width:880px){
    .wrap-hero-section{
        padding-left: 160px;
        padding-right: 160px;
        padding-top: 24px
    }
}

@media (max-width:768px){
    .wrap-hero-section{
        display: flex;
        flex-flow: column;
        padding: 0%;
        padding-left: 3%;
        padding-bottom: 24px;
        padding-top: 281px;
        width: auto;
        
    }
    .hero-title{
        font-size: 50px;
    }
    .hero-text{
        font-size: 22px;
    }
}

/*Vehículos*/

.sevicion-section{
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 164px;
    padding-bottom: 64px;
}

.wrap-title-section{
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 100px;
}

.slide-container{
    width: auto;
    padding: 24px 0;
}

.slide-content{
    padding: 45px 20px;
    margin: 0 40px;
    overflow: hidden;
}

.modelo-card h3{
    padding-top: 5px;
    font-size: 25px;
}

.card{
    flex: 1 0 auto;
    scroll-snap-align: center;
    position: relative;
    max-width: 290px;
    min-height: 280px;
    background: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 0 12px #d7d7d7;
    cursor: grab;
    transition: all .3s ease;
}

body.dark .card{
    background: #404040;
    box-shadow: 0 0 12px #0f0f0f;
    transition: all .3s ease;
}

article:hover{
    transform: scale(1.1);
}

article img:first-child{
    object-fit: cover;
    width: 100%;
    margin: auto;
}

article img:last-child{
    width: 100%;
    position: absolute;
    margin: auto;
    transform: translateX(-100%);
    transition: .3 ease;
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before{
    opacity: 1;
}

article:hover img:last-child{
    opacity: 1;
}

article:hover img:first-child{
    opacity: 0;
    transition: all .3s ease;
}

.header-card{
    width: 100%;
}

.categoria-card span{
    background: #FCD437;
    color: #FFF;
    padding: .2rem .5rem;
    border-radius: 4px;
}

.modelo-card p{
    padding-top: 10px;
}

.card footer{
    padding: 10px;
}

body.dark .swiper-navBtn{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(278deg) brightness(103%) contrast(101%);
}

.swiper-navBtn:hover{
    color: #FCDB59;
}

body.dark .swiper-navBtn:hover{
    filter: none;
}

body.dark .swiper-pagination-bullet{
    background-color: #FFF;
}

body.dark .swiper-pagination-bullet-active{
    background-color: #FCD437;
}

@media (max-width:768px){
    .sevicion-section{
        padding: 0px;
        padding-bottom: 24px;
    }
    .wrap-title-section{
        display: flex;
        position: relative;
        justify-content: left;
        left: 3%;
        padding-top: 64px;
        padding-bottom: 24px;
    }
    .wrap-title-section h2{
        font-size: 28px;
    }
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        visibility: hidden;
    }
}

/* Optimizadores */

.optimizadores-section{
    padding-left: 160px;
    padding-right: 160px;
}

.wrap-optimus{
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    background-image: url(../img/optimusswirl.jpg);
    box-shadow: 0 0 12px #d7d7d7;
    border-radius: 15px;
    transition: all .3s ease;
}

body.dark .wrap-optimus{
    box-shadow: 0 0 12px #0f0f0f;
}

.wrap-img_optimus{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-img_optimus img{
    width: 250px;
    max-height: 250px;
}

.wrap-text-optimus{
    padding: 24px;
    background-color: #f2f2f2;
    border-radius: 0px 12px 12px 0px;
    transition: all .3s ease;
}

body.dark .wrap-text-optimus{
    background: #404040;
}

.wrap-text-optimus h3{
    padding-bottom: 24px;
}

.wrap-text-optimus h4{
    padding-bottom: 24px;
}

.wrap-text-optimus p{
    padding-bottom: 24px
}

.img-popup{
    display: flex;
    width: 560px;
    height: 315px;
    margin-left: 24px;
}

@media (max-width:845px){
    .wrap-img_optimus img{
        width: 200px;
        max-height: 200px;
    }
}

@media (max-width:768px){
    .optimizadores-section{
        padding: 0px;
    }
    .wrap-optimus{
        margin: 24px;
    }
}

@media (max-width:500px){
    .wrap-optimus{
        display: grid;
        grid-template-columns: 1fr;
    }
    .wrap-text-optimus{
        border-radius: 0px 0px 12px 12px;
    }
}

/* Nosotros */

.two-column-section{
    padding-left: 160px;
    padding-right: 160px;
}

.wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
    padding: 24px;
    box-shadow: 0 0 12px #d7d7d7;
    transition: all .3s ease;
}

body.dark .wrap-two-column{
    background: #404040;
    box-shadow: 0 0 12px #0f0f0f;
}

#nosotros_section .wrap-two-column{
    border-radius: 75px 0px 0px 75px;
}

.wrap-img_two-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.wrap-text-column{
    padding: 24px;
}

.wrap-text-column h3{
    padding: 24px 0;
}

.wrap-text-column p{
    padding-bottom: 24px;
}

.wrap-img_two-column img{
    border-radius: 12px;
}

.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 160px;
    padding-right: 160px;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background: #f2f2f2;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    border: 4px solid #d7d7d7;
    padding: 24px;
    border-radius: 12px;
    transition: all .3s ease;
    transform: scale(0.7);
    opacity: 0;
}

body.dark .popup{
    background: #272727;
    border: 4px solid #404040;
}

.popup iframe{
    display: flex;
    margin-left: 24px;
}

.btn-cerrar-popup{
    display: block;
    text-align: right;
    filter: invert(64%) sepia(0%) saturate(1%) hue-rotate(224deg) brightness(96%) contrast(88%);
    transition: all .3s ease;
}

.btn-cerrar-popup img{
    max-width: 24px;
}

.btn-cerrar-popup:hover{
    filter: invert(0%) sepia(0%) saturate(14%) hue-rotate(210deg) brightness(91%) contrast(100%);
}

.popup.active{
    opacity: 1;
    transform: scale(1);
    overflow-x:hidden;
    overflow-y:auto;
    max-height:600px;
}

@media (max-height:675px){
    .popup.active{
        max-height: 500px;
    }
}

@media (max-height:575px){
    .popup.active{
        max-height: 400px;
    }
}

@media (max-height:475px){
    .popup.active{
        max-height: 300px;
    }
}

@media (max-height:375px){
    .popup.active{
        max-height: 200px;
    }
}

@media (max-height:275px){
    .popup.active{
        max-height: 100px;
    }
}

@media (max-width:1236px){
    .wrap-two-column{
        display: grid;
        grid-template-columns: 1fr;
    }
    .wrap-img_two-column img{
        width: 300px;
    }
    .popup iframe{
        width: 360px;
        height: 315px;
        margin: auto;
    }
    .img-popup{
        width: 360px;
        height: 215px;
        margin: auto;
    }
    .popup h3{
        font-size: 28px;
    }
}

@media (max-width:768px){
    .two-column-section{
        padding: 0px;
    }
    .wrap-two-column{
        padding: 24px;
        margin: 24px;
    }
    .overlay{
        padding: 24px;
    }
}

@media (max-width:435px){
    #nosotros_section .wrap-img_two-column img{
        border-radius: 50px 12px 12px 12px;
    }
    .popup iframe{
        width: 300px;
        height: 215px;
        margin: auto;
    }
    .img-popup{
        width: 300px;
        height: auto;
        margin: auto;
    }
}

@media (max-width:395px){
    .wrap-img_two-column img{
        width: 250px;
    }
    .popup iframe{
        width: 251px;
        height: 315px;
        margin: auto;
    }
    .img-popup{
        width: 251px;
        height: auto;
        margin: auto;
    }
}

@media (max-width:345px){
    .wrap-img_two-column img{
        width: 200px;
    }
}

/* Formulario */

#form_section .wrap-two-column{
    border-radius: 0px 75px 75px 0px;
}

.wrap-text-column img{
    max-width: 35px;
    transform: translateY(5px);
    filter: invert(88%) sepia(56%) saturate(4287%) hue-rotate(65deg) brightness(87%) contrast(89%);
}

.form input, .form textarea{
    display: flex;
    width: 92%;
    line-height: 16px;
    border: 12px solid #FFF;
    border-radius: 6px;
}

.form textarea{
    min-height: 200px;
    resize:none
}

body.dark label{
    color: #FFF;
}

input[type="submit"]{
    border: 0;
    display: inline;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-bottom: 24px;
}

@media (max-width:435px){
    #form_section .form-logo img{
        border-radius: 12px 12px 50px 12px;
    }
}

/* Footer */

.footer-section{
    background-color: rgb(24, 24, 24);
}

.wrap-social-logo ul, .wrap-menu-footer-section ul{
    display: flex;
    justify-content: center;
}

.wrap-menu-footer-section{
    cursor: pointer;
    padding-bottom: 24px;
}

.wrap-menu-footer-section a{
    color: #FFF;
}

.social-logo{
    max-width: 45px;
    width: 100%;
    margin: 24px;
    filter: invert(97%) sepia(7%) saturate(405%) hue-rotate(176deg) brightness(120%) contrast(100%);
}

.footer-creds{
    display: flex;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
    color: black;
    background-color: #999999;
}

.footer-creds p{
    font-size: 15px;
}

body.dark .footer-creds p{
    color: black;
}

.wrap-menu-footer-section a:hover{
    color: #999999;
    transition: all .3s ease;
}

.social-logo:hover{
    filter: invert(64%) sepia(0%) saturate(1%) hue-rotate(224deg) brightness(96%) contrast(88%);
    transition: all .3s ease;
}

@media (max-width:768px){
    .footer-creds p{
        font-size: 10px;
    }
}